.Registration {
    margin: 20px auto;
    width: 40%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.ButtonSuccess {
    background-color: transparent;
    border: none;
    color: #5C9210;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}
.ButtonDanger {
    color: #944317;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}
.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.Input:focus {
    outline: none;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}